@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
}

// tokens

$bg-page: #fff;
$bg-purple-1: #431898;

$text-light-1: #fff;

$text-dark-1: #000;

$text-grey-1: #787282;

$text-purple-1: #3f41a6;
$text-purple-1-dark: #1a093e;
